body {
    background-color: #dae3e7;
}
.content-padding {
    padding-top: 100px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #32383e;
    color: #fff;
}
.footer a {
    color: #fff;
}